/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif; }

.header_section_nav .manu_bar {
  width: 100%;
  height: auto;
  position: relative;
  color: #ffffff;
  top: 30px;
  z-index: 20; }
  .header_section_nav .manu_bar .container {
    position: relative; }
    .header_section_nav .manu_bar .container:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px; }
  .header_section_nav .manu_bar .logo {
    z-index: 20 !important; }
    .header_section_nav .manu_bar .logo img {
      width: 90%;
      z-index: 20;
      margin: 10px 30px; }
  .header_section_nav .manu_bar .respon_logo {
    float: right;
    height: 100%;
    margin-right: 30px; }
    .header_section_nav .manu_bar .respon_logo a {
      text-decoration: none;
      color: #ffffff;
      height: 100%;
      position: absolute;
      top: 75%;
      transform: translateY(-50%); }
      .header_section_nav .manu_bar .respon_logo a i {
        display: none; }
  .header_section_nav .manu_bar .nav_manu {
    float: right;
    margin-top: 5px; }
    .header_section_nav .manu_bar .nav_manu nav {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px; }
      .header_section_nav .manu_bar .nav_manu nav .active {
        color: #c7b299; }
      .header_section_nav .manu_bar .nav_manu nav ul li:nth-child(9) {
        margin-left: 25px; }
      .header_section_nav .manu_bar .nav_manu nav ul li a {
        font-family: 'Montserrat light', sans-serif;
        color: #ffff; }
        .header_section_nav .manu_bar .nav_manu nav ul li a:hover {
          color: #c7b299; }

/*Header Section Start*/
.header_section {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .header_section .owl-nav {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #ffffff;
    outline: none; }
    .header_section .owl-nav .owl-next {
      float: right;
      outline: none; }
    .header_section .owl-nav .owl-prev {
      outline: none; }
  .header_section .owl-dots {
    position: absolute;
    bottom: 80px;
    z-index: 55;
    margin: 0px;
    padding: 0px;
    left: 50%;
    transform: translateX(-50%); }
    .header_section .owl-dots .owl-dot {
      width: 15px;
      height: 15px;
      margin: 0px 10px;
      border-radius: 50%;
      background-color: #ffffff;
      outline: none; }
    .header_section .owl-dots .active {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 2px solid #ffffff;
      outline: none; }
  .header_section .container-fluid {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: auto;
    position: relative; }
    .header_section .container-fluid .item {
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative; }
      .header_section .container-fluid .item:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 2; }
      .header_section .container-fluid .item img {
        width: 100%;
        height: 100%;
        z-index: 1; }
  .header_section .header_content {
    position: absolute;
    width: 70%;
    height: auto;
    z-index: 5;
    color: #ffffff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header_section .header_content h3 {
      font-family: 'Raleway', sans-serif;
      margin: 0px;
      padding: 0px; }
    .header_section .header_content h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 900;
      margin: 0px;
      margin-bottom: 10px;
      padding: 0px; }
    .header_section .header_content p {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      margin-bottom: 50px; }
    .header_section .header_content a {
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      background-color: #998675;
      color: #ffffff;
      padding: 5px 30px;
      box-shadow: 0px 4px 0px #736357; }

/*Header Section End*/
/*Portfolio Section Start*/
.portfolio {
  padding: 50px 0px;
  text-align: center; }
  .portfolio .singel_port:hover h4 {
    color: #c7b299; }
  .portfolio .singel_port:hover p:after {
    background-color: #c7b299; }
  .portfolio .singel_port .port_pic {
    margin-bottom: 10px;
    height: 55px; }
  .portfolio .singel_port h4 {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    color: #555555;
    transition: .5s; }
  .portfolio .singel_port p {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    color: #555555;
    transition: .5s; }
    .portfolio .singel_port p:after {
      content: '';
      position: absolute;
      height: 5px;
      width: 100px;
      background-color: #f1eee9;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      transition: .5s; }

/*Portfolio Section End*/
/*Idea Section Start*/
.idea_sec {
  width: 100%;
  height: auto;
  background-color: #fbfaf8;
  padding-top: 50px;
  text-align: center; }
  .idea_sec h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #555555;
    margin-bottom: 10px; }
  .idea_sec p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 26px; }
  .idea_sec .idea_pic {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden; }
    .idea_sec .idea_pic img {
      width: 80%;
      margin-left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      transition: .5s; }
      .idea_sec .idea_pic img:hover {
        width: 90%; }

/*Idea Section End*/
/*Wzsom Section Start*/
.waxom_section {
  width: 100%;
  height: auto;
  padding: 30px 0px;
  background-image: linear-gradient(to right, #221c1a, #4e3427);
  color: #ffffff; }
  .waxom_section h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    color: #ffffff; }
    .waxom_section h3 span {
      color: #c7b299; }
  .waxom_section p {
    margin: 0px;
    padding: 0px;
    color: #504642; }
  .waxom_section a {
    font-family: 'Raleway', sans-serif;
    background-color: #998675;
    color: #ffffff;
    list-style-type: none;
    margin-top: 5px;
    box-shadow: 0px 2px 0px #736357; }
    .waxom_section a:hover {
      color: #ffffff; }

/*Wzsom Section End*/
/*Latest Project Section Start*/
.latest_project {
  width: 100%;
  padding: 50px 0px;
  text-align: center; }
  .latest_project .Pro_head h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    color: #555555; }
  .latest_project .Pro_head p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 30px;
    color: #555555; }
  .latest_project .filter_menu {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .latest_project .filter_menu ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
      .latest_project .filter_menu ul li {
        display: inline-block;
        margin: 10px 5px; }
        .latest_project .filter_menu ul li a {
          text-decoration: none;
          color: #998675;
          padding: 5px 20px;
          border: 1px solid #998675;
          border-radius: 5px;
          transition: .5s;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px; }
          .latest_project .filter_menu ul li a:hover {
            background-color: #998675;
            color: #ffffff; }
  .latest_project .container1 {
    margin-top: 20px; }
    .latest_project .container1 .single_item {
      width: 100%;
      height: auto;
      margin: 10px 0px; }
      .latest_project .container1 .single_item:hover .mix_pic .mix_icon {
        width: 100%;
        height: 100%; }
      .latest_project .container1 .single_item:hover .Mix_content {
        background-color: #362f2d; }
        .latest_project .container1 .single_item:hover .Mix_content:before {
          background-color: #362f2d; }
        .latest_project .container1 .single_item:hover .Mix_content h3 {
          color: #ffffff; }
        .latest_project .container1 .single_item:hover .Mix_content p {
          color: #c7b299; }
      .latest_project .container1 .single_item .mix_pic {
        width: 100%;
        height: auto;
        position: relative;
        transition: .5s; }
        .latest_project .container1 .single_item .mix_pic .mix_icon {
          position: absolute;
          width: 0px;
          height: 0px;
          overflow: hidden;
          background-color: rgba(0, 0, 0, 0.5);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .2s; }
          .latest_project .container1 .single_item .mix_pic .mix_icon i {
            display: inline-block;
            margin: 0px 5px;
            margin-top: 30%;
            color: #ffffff; }
        .latest_project .container1 .single_item .mix_pic img {
          width: 100%;
          transition: .5s; }
      .latest_project .container1 .single_item .Mix_content {
        width: 100%;
        height: auto;
        padding: 20px 20px;
        text-align: left;
        position: relative;
        transition: .5s; }
        .latest_project .container1 .single_item .Mix_content:before {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: #ffffff;
          transform: rotate(45deg);
          top: -15px;
          left: 35px;
          z-index: 3;
          transition: .5s; }
        .latest_project .container1 .single_item .Mix_content h3 {
          font-family: 'Raleway', sans-serif;
          font-size: 20px;
          margin: 0px;
          padding: 0px;
          color: #c7b299; }
        .latest_project .container1 .single_item .Mix_content p {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          margin: 0px;
          padding: 0px;
          color: #d1d1d1; }
  .latest_project .load_button {
    width: 100%;
    height: auto;
    text-align: center; }
    .latest_project .load_button a {
      background-color: #998675;
      text-decoration: none;
      color: #ffffff;
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      font-weight: 600;
      box-shadow: 0px 2px 0px #736357;
      padding: 5px 30px;
      margin: 30px 0px; }

/*Latest Project Section End*/
/*Video Section Start*/
.video_sec {
  width: 100%;
  height: auto;
  padding: 100px 0px;
  background-image: url(assets/img/Med2.png);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center; }
  .video_sec h3 {
    font-family: 'Raleway', sans-serif;
    margin: 20px 0px;
    font-weight: 600; }
  .video_sec p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; }
  .video_sec .time {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #c2ae97; }

/*Video Section End*/
/*Mobile Device Section Staff*/
.mobile_device {
  width: 100%;
  height: auto; }
  .mobile_device .mob_pic {
    width: 100%;
    height: 100%;
    position: relative; }
    .mobile_device .mob_pic img {
      height: 500px;
      width: auto;
      position: absolute;
      right: 0px;
      bottom: 0px; }
  .mobile_device h3 {
    margin-top: 200px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #555555; }
  .mobile_device p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    color: #555555; }
  .mobile_device ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    margin: 0px;
    margin-bottom: 120px;
    padding: 0px; }
    .mobile_device ul li {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #555555;
      position: relative;
      padding-left: 30px;
      margin-bottom: 5px; }
      .mobile_device ul li:before {
        content: '\f105';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 0px 6px;
        background-color: #c7b299;
        border-radius: 50%;
        text-align: center; }

/*Mobile Device Section End*/
/*Counter Section Start*/
.counter_sec {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #221c1a, #4e3427);
  text-align: center;
  color: #ffffff; }
  .counter_sec .single_counter {
    margin-top: 50px;
    margin-bottom: 50px; }
    .counter_sec .single_counter i {
      font-size: 40px;
      color: #c7b299;
      margin-bottom: 20px; }
    .counter_sec .single_counter h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      margin: 0px;
      padding: 0px; }
    .counter_sec .single_counter p {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #c7b299;
      margin: 0px;
      padding: 0px;
      position: relative; }
      .counter_sec .single_counter p:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #c7b299;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%); }

/*Counter Section End*/
/*Recent_Post Section Start*/
.recent_post {
  width: 100%;
  height: auto;
  margin: 50px 0px; }
  .recent_post .post_head {
    text-align: center; }
    .recent_post .post_head h2 {
      font-family: 'Raleway', sans-serif;
      font-weight: 600px;
      color: #555555; }
    .recent_post .post_head p {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #555555; }
  .recent_post .carro {
    width: 100%;
    height: auto; }
    .recent_post .carro .single_post {
      width: 100%;
      height: auto; }
      .recent_post .carro .single_post:hover .post_feature .calander {
        background-color: #a48d72; }
        .recent_post .carro .single_post:hover .post_feature .calander .date {
          background-color: #c7b299; }
      .recent_post .carro .single_post:hover .post_feature .post_img:before {
        width: 100%;
        height: 100%; }
      .recent_post .carro .single_post:hover .post_content {
        background-color: #362f2d; }
        .recent_post .carro .single_post:hover .post_content h4 {
          color: #c7b299; }
        .recent_post .carro .single_post:hover .post_content p {
          color: #ffffff; }
        .recent_post .carro .single_post:hover .post_content a {
          color: #c7b299; }
      .recent_post .carro .single_post .post_feature {
        width: 100%;
        height: auto;
        position: relative; }
        .recent_post .carro .single_post .post_feature .calander {
          width: 50px;
          height: 60px;
          border-radius: 5px 5px;
          background-color: #252525;
          position: absolute;
          top: 20px;
          left: 20px;
          text-align: center;
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          overflow: hidden;
          z-index: 8;
          transition: .5s; }
          .recent_post .carro .single_post .post_feature .calander .date {
            width: 100%;
            height: 55%;
            background-color: #363636;
            transition: .5s; }
            .recent_post .carro .single_post .post_feature .calander .date h4 {
              margin: 0px;
              padding: 0px;
              padding-top: 4px; }
          .recent_post .carro .single_post .post_feature .calander .month {
            width: 100%;
            height: 45%; }
            .recent_post .carro .single_post .post_feature .calander .month p {
              margin: 0px;
              padding: 0px;
              padding-top: 1px; }
      .recent_post .carro .single_post .post_img {
        width: 100%;
        height: auto;
        position: relative; }
        .recent_post .carro .single_post .post_img:before {
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          background-color: rgba(0, 0, 0, 0.5);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;
          transition: .5s; }
      .recent_post .carro .single_post .post_content {
        width: 100%;
        height: auto;
        padding: 20px;
        background-color: #ffffff;
        transition: .5s; }
        .recent_post .carro .single_post .post_content h4 {
          font-family: 'Raleway', sans-serif;
          color: #656565;
          font-weight: 600; }
        .recent_post .carro .single_post .post_content p {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          color: #656565; }
        .recent_post .carro .single_post .post_content a {
          text-decoration: none;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-weight: bold;
          color: #c7b299; }
  .recent_post .owl-dots {
    display: none; }

/*Recent_Post Section End*/
/*Buyer Logo Section Start*/
.buyer_logo {
  width: 100%;
  height: auto;
  background-image: url("assets/img/Bac02.png");
  background-position: center;
  background-size: cover; }
  .buyer_logo .buyer_logo_single {
    width: 210px;
    height: 210px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative; }
    .buyer_logo .buyer_logo_single img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

/*Buyer Logo Section End*/
/*wietzes Section Start*/
.wietzes {
  width: 100%;
  height: auto;
  background-color: #191919;
  color: #555555; }
  .wietzes hr {
    margin: 13px 0px;
    padding: 0px;
    border-color: #555555; }
  .wietzes h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px; }
  .wietzes p {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; }
  .wietzes .wietzes04 {
    margin: 40px 0px; }
    .wietzes .wietzes04 img {
      width: 46%;
      float: left;
      margin-right: 3%;
      margin-bottom: 10px; }
  .wietzes .wietzes01 {
    margin: 40px 0px; }
    .wietzes .wietzes01 p {
      margin-top: 20px;
      margin-bottom: 30px; }
    .wietzes .wietzes01 a {
      list-style-type: none;
      color: #ffffff;
      text-decoration: none; }
  .wietzes .wietzes02 {
    margin: 40px 0px; }
    .wietzes .wietzes02 .wdate {
      color: #363636; }
    .wietzes .wietzes02 .wpostitem:hover .wdate {
      color: #ffffff; }
    .wietzes .wietzes02 .wpostitem:hover .objective {
      color: #c7b299;
      font-weight: 400; }
    .wietzes .wietzes02 .wpostitem .wdate {
      transition: .5s; }
    .wietzes .wietzes02 .wpostitem .objective {
      transition: .5s; }
  .wietzes .wietzes03 {
    margin: 40px 0px; }
    .wietzes .wietzes03 span {
      color: #01b7e9; }
    .wietzes .wietzes03 .link1 {
      color: #959595;
      font-weight: 500; }

/*wietzes Section End*/
/*Footer Section Start*/
.footer {
  width: 100%;
  height: auto;
  background-color: #111111;
  padding: 50px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #555555; }
  .footer .first_footer p {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0px;
    margin-right: 10px; }
    .footer .first_footer p span {
      color: #959595;
      font-weight: 500; }
  .footer .first_footer ul {
    list-style-type: none; }
    .footer .first_footer ul li {
      float: left; }
      .footer .first_footer ul li a {
        text-decoration: none;
        color: #555555;
        padding: 0px 10px;
        font-weight: 600;
        border-left: 1px solid #555555;
        transition: .5s; }
        .footer .first_footer ul li a:hover {
          color: #c7b299; }
  .footer .second_footer {
    float: right; }
    .footer .second_footer p {
      float: left;
      margin: 0px;
      padding: 0px 10px;
      border-left: 1px solid #555555; }
      .footer .second_footer p:nth-child(1) {
        border-left: none; }
      .footer .second_footer p span {
        color: #959595;
        font-weight: 500; }

/*Footer Section End*/
